#site-header {
    @media screen and (min-width: 768px) {
        padding: 25px 0;
    }
    @media screen and (max-width: 768px) {
        padding: 0 0 25px;
    }
}
.acf-light {
    color: #fff;
    * {
        color: #fff;
    }
}
.acf-center {
    text-align: center;
    * {
        text-align: center;
    }
}